doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body.host-page
    header.text-center.mb-4
      if gameCode
        h2.game-code Game Code: 
          span.code #{gameCode}
      //- img.logo(src='/buzzer-logo.svg')
      button#theme-toggle.btn(style="position: absolute; top: 10px; right: 10px;")
        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          path(d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z")

    div.container
      div.game-layout
        div.game-stats.card.mb-4
          h2.section-title.text-center Game Status
          table.game-stats-table.full-width
            thead
              tr
                th Teams
                th.text-center Score
            tbody.team-stats
              each score, team in scores || {}
                tr.team-row(data-team=team)
                  td.team-name Team #{team}
                  td.team-score.text-center #{score}
              tr.divider
                td(colspan="2")
                  h3.subsection-title.text-center Players
              //- Users will be populated by JavaScript in this section
              
          //- Template for score items (hidden, used by JS)
          template#score-template
            tr.team-row
              td.team-name
              td.team-score.text-center
              
          //- Template for user items (hidden, used by JS)
          template#user-template
            tr.user-item
              td.user-name.text-center(colspan="2")
        
        //- Template for new buzz items (hidden, used by JS)
        template#buzz-template
          li.buzz-item(data-team="")
            span.buzz-name
            button.award-point-btn.btn Award Point

        div.buzzer-container.card.mb-4
          h2.section-title.text-center Buzz Queue
          ol.js-buzzes.buzz-list
            //- Buzzes will be populated by JavaScript
            each buzz in buzzes
              li.buzz-item(data-team=buzz.team)
                span.buzz-name #{buzz.name} on Team #{buzz.team}
                button.award-point-btn.btn(data-team=buzz.team) Award Point to Team #{buzz.team}

      div.actions.text-center
        button.js-clear.btn.btn-large='Clear All Buzzes'

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
