doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body.js-body
    header
      img.logo(src='buzzer-logo.svg')

    div.container
      form.view.js-join
        img(src="/v853cllbzjw11.jpg" class="main-image")
        h2="Let's play!"
        input(type='text' name='name' placeholder='Your name' required='required')
        input(type='number' name='team' placeholder='Your team number' required='required')
        input(type='text' name='gameCode' placeholder='Game Code' class='form-control mb-2')
        button(type='submit')='Join Game'
        button(type='button' class='btn btn-success js-create-game mb-2') Create New Game
      
      div.game-info-display.mt-2
        p.js-game-code-display
        p.js-error-message(style="color: red;")

      div.view.js-joined.hidden
        button.js-buzzer.buzzer()='Buzz!!!'
        p.js-joined-info=""
        button.js-edit.secondary='Change teams'

    script(src='/socket.io/socket.io.js')
    script(src='/join.js')
